// https://css-tricks.com/how-to-animate-the-details-element/

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}

details[open] summary {
  font-weight: 700;
}
summary {
  cursor: pointer;
}

summary:after {
  content: "";
  background-image: url(../images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 30px;
  margin-top: 7px;
  width: 10px;
  height: 7px;
}

details[open] > summary:after {
  content: "";
  background-image: url(../images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  position: absolute;
  right: 30px;
  margin-top: 3px;
  width: 10px;
  height: 7px;
  transform: rotate(180deg);
}
